html, body {
  height: 100%;
  width: 100%;
}
 html, body, section, article, h1, h2, h3, h6, p, strong, em, a, select, ul, li, input,a textarea, button, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

  font-size: 14px;
  font-weight: 300;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;

  list-style-type: none;
}

#main {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#quote {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -10%);
  color: white;
  font-size: 30px;
  background-color: rgba(50, 50, 50, 0.3);
  padding: 10px;
}

/*todo-List*/

.to-do-list {
  color: white;
  background-color: grey;
}

#results
{
	max-height: 400px;
	overflow: auto;
}

#results .item:nth-child(even)
{
	background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#fff));
}
#results .item:nth-child(odd)
{
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(fff));
}

.item
{
	padding: .5em;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#fff));
	-webkit-transition: all .4s;
}

.item.removed
{
	-webkit-transform: translate(-100%, 0);
	opacity: 0;
}

.item .title
{
	line-height: 20px;
	margin-bottom: 3px;
	font-size: 14px;
	width: 80%;
	display: inline-block;
	cursor: text;
	-webkit-transition: color .3s; /*	text-shadow: 0px 1px 0px #ddd;*/
	border: 0;
	background: transparent;
	margin: 0;
	color: #333333;
}

.item .title:focus { outline: none; }

.item input[type=checkbox]:checked + .title
{
	text-decoration: line-through;
	color: #999999;
}

.item .remove
{
	text-indent: -9999px;
	-webkit-appearance: none;
	background: url('/images/delete.png') no-repeat center center;
	cursor: pointer;
	border: 0;
	width: 16px;
	height: 16px;
	visibility: hidden;
	float: right;
	margin-top: 2px;
}

.item:hover .remove { visibility: visible;}

#add
{
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 5px 3px;
	width: 242px;
}

#add:focus
{
	outline: rgba(30, 30, 30, .1) solid 2px;
}

/* styles for checkboxes */

input[type=checkbox]
{
	background: url('/images/unchecked.png') no-repeat center center;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	margin: 0;
	vertical-align: top;
	width: 20px;
	-webkit-appearance: none;
}

input[type=checkbox]:checked
{
	background: url('/images/checked.png') no-repeat center center;
}

input[type=checkbox]:disabled
{
	opacity: 0.5;
}
