html, body {
  height: 100%;
  width: 100%;
}
 html, body, section, article, h1, h2, h3, h6, p, strong, em, a, select, ul, li, input,a textarea, button, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

  font-size: 14px;
  font-weight: 300;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;

  list-style-type: none;
}

#main {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#quote {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -10%);
  color: white;
  font-size: 30px;
  background-color: rgba(50, 50, 50, 0.3);
  padding: 10px;
}

#to-do-list {
  width: 20%;
  height: 20%;
  background-color: rgba(125,125,125,0.5);
  padding: 20px;
  position: absolute;
  right: 0;
}

.todo-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: scroll;
}

.todo-list h3{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.root {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 5px;
}

.toggle {
  padding: 5px;
}

.completed {
  text-decoration: line-through;
}

div span {
  padding-left: 5px;
}

.destroy:hover, .submit-button:hover {
  opacity: 0.7;
  transition: 0.5s ease;
  cursor: pointer;
  transform: scale(1.5);
}

form {
  display: flex;
  justify-content: space-between;
  height: 20%;
}

.form-input {
  cursor: pointer;
}
