html, body {
  height: 100%;
  width: 100%;
}
 html, body, section, article, h1, h2, h3, h6, p, strong, em, a, select, ul, li, input,a textarea, button, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

  font-size: 12px;
  font-weight: 300;
  /*font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Venera";

  list-style-type: none;
}

@import url(http://db.onlinewebfonts.com/c/05f40e99838fb2c3ccc401628e147c48?family=Venera);

@font-face {font-family: "Venera";
    src: url("http://db.onlinewebfonts.com/t/05f40e99838fb2c3ccc401628e147c48.eot");
    src: url("http://db.onlinewebfonts.com/t/05f40e99838fb2c3ccc401628e147c48.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/05f40e99838fb2c3ccc401628e147c48.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/05f40e99838fb2c3ccc401628e147c48.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/05f40e99838fb2c3ccc401628e147c48.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/05f40e99838fb2c3ccc401628e147c48.svg#Venera") format("svg");
}

#main {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#quote {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -10%);
  color: white;
  font-size: 23px;
  background-color: rgba(50, 50, 50, 0.3);
  padding: 10px;
}

#to-do-list {
  width: 20%;
  height: 20%;
  background-color: rgba(50, 50, 50, 0.3);
  padding: 20px;
  position: absolute;
  right: 0;
}

.todo-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.todo-list h3{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.root {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 5px;
}

.toggle {
  padding: 5px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

div span {
  padding-left: 5px;
}

.destroy:hover, .submit-button:hover {
  opacity: 0.7;
  transition: 0.5s ease;
  cursor: pointer;
  transform: scale(1.5);
}

form {
  display: flex;
  justify-content: space-between;
  height: 20%;
}

.form-input {
  cursor: pointer;
}

.icons {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(50, 50, 50, 0.3);
  width: 32px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/*placeholder input*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: whitesmoke;
}
::-moz-placeholder { /* Firefox 19+ */
  color: whitesmoke;
}
:-ms-input-placeholder { /* IE 10+ */
  color: whitesmoke;
}
:-moz-placeholder { /* Firefox 18- */
  color: whitesmoke;
}
